<%-include('./partials/header')%>
    <%-include('./partials/navbar')%>
        <%-include('./partials/flash')%>



            <body>
                <div class="container ">

                    <h1 class="mt-5 mb-4"> Edit Your List </h1>

                    <!-- Add Todo Form -->
                    <form id="addTodoForm" action="/show/<%=list._id%>/edit?_method=PATCH" method="POST">
                        <div class="row ">

                            <div class="col-lg-8 col-md-8 col-sm-12 mb-2">
                                <textarea type="text" name="listitem" id="floatingTextarea" cols="30" required rows="1"
                                    placeholder="Enter Text " class="form-control"> <%=list.listitem%> </textarea>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-12 mb-2">
                                <select class="form-control " name="priority" required id="prioritySelect">
                                    <option value="low">Low Priority</option>
                                    <option value="medium">Medium Priority</option>
                                    <option value="high">High Priority</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 mb-2">
                                <select class="form-control " name="listStatus" required id="statusSelect">
                                    <option value="process">Process</option>
                                    <option value="waiting" >Waiting</option>
                                </select>
                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary">Add Todo</button>
                            </div>
                        </div>
                    </form>




                    <div class="mt-4">
                        <% for(let item of items) { %>

                            <% if(item.priority==="low" ){ %>
                                <div class="container  border p-3 mb-2" id="list" style="border-radius: 18px; ">
                                    <div class="row 3">
                                        <div class="col-lg-8 col-md-9 col-sm-12 ">
                                            <%= item.listitem %>
                                        </div>
                                        <div class="priority-div col-lg-4 col-md-3 col-sm-12 ">
                                            <div class="row">
                                                <div class="col-12" id="feature-div">
                                                    <a href="/show/<%= item._id %>/edit"><i
                                                            class="fa-solid fa-pen-to-square"></i></a>

                                                </div>
                                                <div>
                                                    <b>Medium Priority</b>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <%}else if(item.priority==="medium" ){%>
                                    <div class="container  border p-3 mb-2" id="list" style="border-radius: 18px; ">
                                        <div class="row 3">
                                            <div class="col-lg-8 col-md-9 col-sm-12 ">
                                                <%= item.listitem %>
                                            </div>
                                            <div class="priority-div col-lg-4 col-md-3 col-sm-12 ">
                                                <div class="row">
                                                    <div class="col-12" id="feature-div">
                                                        <a href="/show/<%= item._id %>/edit"><i
                                                                class="fa-solid fa-pen-to-square"></i></a>

                                                    </div>
                                                    <div>
                                                        <b>Medium Priority</b>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <%}else if(item.priority==="high" ){%>
                                        <div class="container  border p-3 mb-2" id="list" style="border-radius: 18px; ">
                                            <div class="row 3">
                                                <div class="col-lg-8 col-md-9 col-sm-12 ">
                                                    <%= item.listitem %>
                                                </div>
                                                <div class="priority-div col-lg-4 col-md-3 col-sm-12 ">
                                                    <div class="row">
                                                        <div class="col-12" id="feature-div">
                                                            <a href="/show/<%= item._id %>/edit"><i
                                                                    class="fa-solid fa-pen-to-square"></i></a>

                                                        </div>
                                                        <div>
                                                            <b>High Priority</b>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
  <% } %>

                    </div>
                </div>

                <%-include('./partials/footer')%>