<%-include('./partials/header')%>
<%-include('./partials/navbar')%>
<%-include('./partials/flash')%>



<body>
  <div class="container mt-5">
    <!-- Add Todo Form -->
    <form id="addTodoForm" action="/show/<%=foundList._id%>/edit?_method=PATCH" method="POST">
        <div class="form-row">
            <div class="col-md-8">
                <div class="form-group">
                    <input type="text" class="form-control" name="listitem" required id="listitem" placeholder="Add Your List "  value="<%=foundList.listitem%>">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <select class="form-control" name="priority" required id="prioritySelect">
                        <option value="low" style="background-color: #008000; color: white;">Low Priority</option>
                        <option value="medium" style="background-color: #FFFF00;">Medium Priority</option>
                        <option value="high"  style="background-color: #FF0000;  color: white;">High Priority</option>
                    </select>
                </div>
            </div>
            
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <!-- Todo List -->
    <% for(let item of items) { %>
    <ul class="list-group mt-4" id="todoList">
        <li class="list-group-item d-flex justify-content-start align-items-center">
            <span class="dot"></span> <!-- Dot -->
            <%=item.listitem %>
           
        </li>
    </ul>
    <% } %>
</div>

<%-include('./partials/footer')%>
