<%-include('./partials/header')%>

    <body>
        <%-include('./partials/navbar')%>

            
    <div class="container mt-5">
        <!-- Add Todo Form -->
        <form id="addTodoForm" action="/show" method="POST">
            <div class="form-row">
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="text" class="form-control" name="listitem" required id="listitem" placeholder="Add Your List ">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <select class="form-control" id="prioritySelect">
                            <option value="low">Low Priority</option>
                            <option value="medium">Medium Priority</option>
                            <option value="high">High Priority</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Todo</button>
        </form>

        <!-- Todo List -->
        <% for(let item of items) { %>
        <ul class="list-group mt-4" id="todoList">
            <li class="list-group-item d-flex justify-content-start align-items-center">
                <span class="dot"></span> <!-- Dot -->
                <%=item.listitem %>
                <div>
                    <a href="/show/<%= item._id %>/edit" class="btn btn-warning mr-2">Edit</a>
                    <form action="/show/<%= item._id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">DELETE</button>
                    </form>
                </div>
            </li>
        </ul>
        <% } %>
    </div>

