<%-include('./partials/header')%>

    <body>
        <%-include('./partials/navbar')%>
  <%-include('./partials/flash')%>



            <div class="container mt-5 mb-5">
                <!-- Add Todo Form -->
                <form id="addTodoForm" action="/show" method="POST">
                    <div class="form-row ">
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control" name="listitem" required id="listitem"
                                    placeholder="Add Your List ">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control" name="priority" required id="prioritySelect">
                                    <option value="low" style="background-color: #008000; color: white;">Low Priority</option>
                                    <option value="medium" style="background-color: #FFFF00;">Medium Priority</option>
                                    <option value="high"  style="background-color: #FF0000;  color: white;">High Priority</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Todo</button>
                </form>

                <!-- Todo List -->
                <!-- Todo List -->
                <% for(let item of items) { %>
                <ul class="list-group mt-2 " id="todoList">
                        <% if(item.priority==="low"){ %>
                            <li class="list-group-item d-flex justify-content-between align-items-center" style="color: #008000;">
                                <div>
                                    <span class="dot"></span> <!-- Dot -->
                                    <%= item.listitem %>
                                </div>
                                <div>
                                    <a href="/show/<%= item._id %>/edit" class="btn btn-warning mr-2">Edit</a>
                                    <form action="/show/<%= item._id %>?_method=DELETE" method="POST" style="display: inline;">
                                        <button type="submit" class="btn btn-danger">DELETE</button>
                                    </form>
                                </div>
                            </li>
                        <% } else if(item.priority==="medium" ){ %>
                            <li class=" list-group-item d-flex justify-content-between align-items-center" style="color: orange;">
                                <div>
                                    <span class="dot"></span> <!-- Dot -->
                                    <%= item.listitem %>
                                </div>
                                <div>
                                    <a href="/show/<%= item._id %>/edit" class="btn btn-warning mr-2">Edit</a>
                                    <form action="/show/<%= item._id %>?_method=DELETE" method="POST" style="display: inline;">
                                        <button type="submit" class="btn btn-danger">DELETE</button>
                                    </form>
                                </div>
                            </li>
                        <% } else if(item.priority==="high" ){ %>
                            <li class="list-group-item d-flex justify-content-between align-items-center" style="color: #FF0000;">
                                <div>
                                    <span class="dot"></span> <!-- Dot -->
                                    <%= item.listitem %>
                                </div>
                                <div>
                                    <a href="/show/<%= item._id %>/edit" class="btn btn-warning mr-2">Edit</a>
                                    <form action="/show/<%= item._id %>?_method=DELETE" method="POST" style="display: inline;">
                                        <button type="submit" class="btn btn-danger">DELETE</button>
                                    </form>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                    <% } %>
                
            </div>